language: python

python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "pypy"
  - "pypy3"

# Use container-based infrastructure
sudo: false

install:
  - pip install .
  - pip install -r requirements.txt
  - pip install coverage

script:
  - coverage run --source=langdetect --omit=langdetect/tests/* -m unittest discover

after_success:
 - pip install coveralls
 - coveralls

after_script:
 - coverage report
 - pip install pep8 pyflakes
 - pyflakes .| tee >(wc -l)
 - pep8 --statistics --count .
